.nav-component-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}