.schedule-teams-array {
    display: flex;
}

.array-spread-box {
    margin: 5px;
    padding: 5px;
    border: black solid 1px;
    width: 100%;
    cursor: pointer;
}

.spreads {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.schedule-sport-select {
    cursor: pointer;
    font-size: large;
    font-weight: 500;
}

.schedule-sport-select:hover {
    color: red;
}

.select-sport-container {
    display: flex;
    justify-content: space-evenly;
}

.spreads-picks-container {
    display: flex;
    justify-content: center;
}

.pick-see-more {
    cursor: pointer;
}