.schedule-teams-array {
    display: flex;
}

.array-spread-box {
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: black solid 1px;
    cursor: pointer;
}

.array-spread-box:hover {
    border: red solid 1px;
}

.spreads {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.schedule-sport-select {
    cursor: pointer;
    font-size: large;
    font-weight: 500;
}

.schedule-sport-select:hover {
    color: red;
}

.select-sport-container {
    display: flex;
    justify-content: space-evenly;
}

.spreads-picks-container {
    display: flex;
    justify-content: center;
}

.pick-see-more {
    cursor: pointer;
}